.other-root {
    width: 1522px;
    margin: 0 auto;
    margin-left: 230px;
    margin-top: 27px;
    height: 914.52px;
}

.other-album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.album-cover:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: 0.5s;
}

.cover{
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
    width:150px;
    height: 150px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    box-shadow: #666 0px 0px 5px;
}
.cover-item{
    margin-top:20px;
}

.hot_pics{
    margin-right: 20px;
    margin-top: 20px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    box-shadow: #666 0px 0px 5px;
}

.hot_pics:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: 0.5s;
}

