.user-r{
    float: right;
    margin-top: 5px;
    height: 42px;
    margin-right: 20px;
}

.user{
    vertical-align: middle;
    padding-left: 14px;
}

.login-search{
    margin-right: 61.3px;
}
.detail{
    margin-left: 193px;
    width: 1520px;
    margin-top: 115px;
}
.other-avator{
    float: left;
    margin-left: 19px;
}
.other-focus-btn{
    margin-left: 1148px;
    font-size: 16px;

}
.other-note{
    padding-top:41px;
    background: url("images/rang.png") no-repeat 0 41px;
    height: 221px;
}
.other-note-title{
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-left: 14px;
    margin-top: 15px;
}
.other-note-decription
{
    display: inline-block;
    margin-left: 14px;
    margin-top: 10px;
}
.other-focus{
    margin-top: 45px;
    margin-left: 45px;
    color: #666666; 
}
.fans{
    float: left;
}
.v-line{
    float: left;
    margin-left: 21.5px;
    margin-right: 22.5px;
}
.ch{
    font-size: 13px;
}
.number{
    font-size: 16px;
}
.focus-person{
}
