/* Pages */

/* Index */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    color: #ffffff;
    padding: 10px 0;
    background-color: #333333;
}

.header .view-r {
    line-height: 54px;
}

.header .btn-login{
    margin: 0 16px;

}

.search-box {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.search-box:hover .input-search, .search-box:focus .input-search{
    outline: none;
    width: 260px;
    background-color: #ffffff;
}
/* .search-box:hover .icon-search, .search-box:focus .icon-search{
    
} */

.search-box .input-search {
    width: 0;
    padding: 16px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}
.input-search{
    height: 40px;
}

.layout-banner {
    background: url("images/banner.png") 0 0 no-repeat transparent;
    height: 600px;
    text-align: center;
    padding-top: 134.2px;
    color: #ffffff;
}

.layout-banner p {
    width: 520px;;
    margin: 0 auto;
    text-align: center;
}

.b-title {
    font-size: 30px;
}