<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pichub.hello.dao.AlbumDao">

    <select id="getAlbum" resultType="com.pichub.hello.bo.Album" parameterType="Long">
        select * from album where album_id=#{album_id}
    </select>

    <insert id="createAlbum" useGeneratedKeys="true" keyProperty="userId" keyColumn="album_id" parameterType="com.pichub.hello.bo.Album">
        insert into album (album_name, user_id) values (#{album.albumName},#{album.userId})
    </insert>

    <select id="getMyAlbumList" resultType="com.pichub.hello.bo.Album">
        select * from album where user_id=#{userId}
    </select>

    <insert id="insertAlbumAndPicture">
        insert into album_picture (album_id, pic_id) values (#{albumId},#{picId})
    </insert>

    <!--得到相册内的相片id-->
    <select id="getPictures" resultType="java.lang.Integer" parameterType="Long">
        select pic_id from album_picture where album_id=#{albumId}
    </select>

    <select id="listAlbum" resultType="com.pichub.hello.bo.Album">
        select * from album where user_id=#{user_id}
    </select>

    <update id="changeName" >
        update album set album_name=#{albumName} where album_id=#{albumId}
    </update>

    <update id="changeTumbnailPath">
        update album set cover_thumbnail_path=#{path} where album_id=#{albumId}
    </update>

</mapper>