<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pichub.hello.dao.PhotoDao">

    <select id="getPhoto" resultType="com.pichub.hello.bo.Photo" parameterType="Long">
        select * from photo where photo_id=#{photoId}
    </select>

    <select id="listPhoto" resultType="com.pichub.hello.bo.Photo" parameterType="Long">
        select * from photo where user_id=#{userId}
    </select>

    <insert id="insetPhoto">
        insert into photo (photo_id, photo_name, user_id)
        values (#{photoId}, #{photoName}, #{userId})
    </insert>
</mapper>