<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pichub.hello.dao.PictureDao">

    <select id="getPicture" resultType="com.pichub.hello.bo.Picture" parameterType="Long">
        select * from picture where pic_id=#{pictureId}
    </select>

<!--获取热门图片-->
    <select id = "getHotPicture" resultType = "com.pichub.hello.bo.Picture" >
        select * from picture where pic_id IN (select pic_id from belike group by pic_id having COUNT(*)>1 ORDER BY COUNT(*) DESC) order by instr(pic_id,pic_path);
    </select>

    <insert id="insertPicture" parameterType="com.pichub.hello.bo.Picture">
        insert into picture (pic_name,upload_time,del_state,pic_story,user_id,pic_path,pic_thumbnail_path,pic_size)
        values (#{picName},#{uploadTime},#{delState},#{picStory},#{userId},#{picPath},#{picThumbnailPath},#{picSize})
    </insert>

    <select id="checkMaxPictureId">
        select MAX(pic_id) from picture
    </select>

    <select id="checkMaxPictureTagId">
        select MAX(pic_id) from pic_tag
    </select>
    
    <insert id="insertTag">
        insert into pic_tag
        values (#{pictureId},#{score},#{keyword});
    </insert>

</mapper>