<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pichub.hello.dao.UserDao">


    <!-- 根据用户名和密码查询 -->
    <!-- 是否要写parameter type-->
    <select id="tOrfUser" resultType="com.pichub.hello.bo.User">
        select * from user_table where (user_email=#{userEmail} or user_phone=#{userEmail}) and user_password=#{userPassword}
    </select>

    <select id="tOrfUserName" resultType="com.pichub.hello.bo.User">
        select * from user_table where (user_email=#{userEmail} or user_phone=#{userEmail})
    </select>

    <select id="getUserName" resultType="String">
        select user_name from user_table where user_email=#{userEmail}
    </select>

    <insert id="focusUser">
        insert into follower (user_id,use_user_id)
        values (#{userId1},#{userId2})
    </insert>

    <delete id="delFocus">
        delete from follower where user_id=#{userId1} and use_user_id=#{userId2}
    </delete>

    <select id="checkFocus" resultType="int">
        select count(*) from follower where user_id = #{userId1} and use_user_id = #{userId2}
    </select>

    <select id="showMyFocus" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select use_user_id from follower where user_id = #{userId}
    </select>

    <select id="showFocusMe" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select user_id from follower where use_user_id = #{userId}
    </select>

    <select id="showMyLike" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select pic_id from belike where user_id = #{userId}
    </select>

    <select id="showMyAlbum" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select album_id from album where user_id = #{userId}
    </select>

    <select id="getUser" resultType="com.pichub.hello.bo.User" parameterType="long">
        select * from user_table where user_id=#{userId}
    </select>

    <!--<insert id="insertUser" parameterType="com.pichub.hello.bo.User">-->
        <!--insert into user (user_name,user_email,user_password,create_time,user_gender,user_subscription,avatar_path,user_capacity,user_used_capacity,-->
        <!--user_qq_num,wechat_num,phone)-->
        <!--values (#{userName},#{userEmail},#{userPassword},#{createTime},#{userGender},#{userSubscription},#{avatarPath},#{userCapacity},#{usedCapacity},-->
        <!--#{qqNum},#{wechatNum},#{userPhone})-->
    <!--</insert>-->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id" parameterType="com.pichub.hello.bo.User">
        insert into user_table (user_name,user_email,user_password,user_phone)
        values (#{user.userName},#{user.userEmail},#{user.userPassword},#{user.userPhone})
    </insert>

    <select id="belikeCheck" resultType="int">
        select count(*) from belike where user_id = #{userId} and pic_id = #{pictureId}
    </select>

    <delete id="deleteBelike">
        delete from belike where user_id=#{userId} and pic_id=#{pictureId}
    </delete>

    <insert id="insertBelike">
        insert into belike (user_id,pic_id)
        values (#{userId},#{pictureId})
    </insert>

    <update id="changeUsername">
        UPDATE user_table SET user_name = #{userName} WHERE user_id = #{userId};
    </update>

    <select id="checkEmail" resultType="com.pichub.hello.bo.User">
        select * from user_table where user_email=#{email}
    </select>

    <update id="changeEmail">
        update user_table set user_email=#{newEmail} where user_email=#{oldEmail}
    </update>

    <update id="changeAvatarPath">
        update user_table set avatar_path=#{avatarPath} where user_id=#{userId}
    </update>

</mapper>